@import "../../../../app/styles/Colors.scss";

.totalFormBox {
    background-color: $background !important;
    border-radius: 0.3rem !important;
    padding: 1rem 0;
}

.information {
    background-color: $buttons-text !important;
    border-radius: 0.4rem !important;
    margin: 0.8rem 1rem !important;
    padding-bottom: 1rem !important;
}

.menuItemDash {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 0.01rem;
    background-color: $border ;
}

.finalCheckButton {
    background-color: $auth_buttons !important;
    text-transform: capitalize !important;
    height: 1.8rem;
    padding: 0 1rem !important;
}

.editIcon {
    filter: brightness(0) invert(1) !important;
    padding-right: 0.2rem !important;
}

.editSpan {
    font-family: Montserrat !important;
    font-size: 0.8rem !important;
    color: $buttons-text !important;
}

.eachBox {
    margin: 1rem !important;
}

.boxTitle {
    position: absolute !important;
    margin-top: -0.6rem !important;
    background-color: white !important;
    margin-left: 1rem !important;
    font-family: Montserrat !important;
    font-size: 0.8rem !important;
    color: $textfield-text-color !important;
    font-weight: 600 !important;
}

.box {
    border: 0.05rem solid $border !important;
    border-radius: 0.4rem !important;
}

.bioInfo {
    margin: 1rem !important;
}

.eachTitle {
    color: $final_check_title !important;
    font-family: Montserrat !important;
    font-size: 0.8rem !important;
    padding-top: 0.5rem;
}

.finalCheckInfo {
    font-family: Montserrat !important;
    padding: 0.4rem 0;
    font-size: 0.9rem !important;
}