@import url('https://fonts.cdnfonts.com/css/iranian-sans');

.openIcon {
    margin-left: 2rem;
}

.logo {
    width: 5rem;
    height: 5rem;
    margin: 2rem 0 1rem 0;
}

.itemsIcon {
    width: 1.3rem !important;
}

.itemsTitle {
    font-family: IRANSans !important;
    color: #5c5b5f !important;
}