@import "../../../../app/styles/Colors.scss";

.totalFormBox {
    background-color: rgba(249, 244, 244, 0.541);
    border-radius: 0.3rem !important;
    padding: 1rem 0;
}

.formBox {
    background-color: rgb(255, 255, 255);
    border-radius: 0.3rem !important;
    margin: 1rem;
}

.menuItemDash {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 0.01rem;
    background-color: #d9e4ec;
}

.textFieldTitles {
    margin-left: 2rem !important;
    color: #121f3e !important;
    font-family: Montserrat !important;
    font-size: 0.7rem !important;
    padding-bottom: 0.1rem !important;
}

.stepsTextField {
    background-color: rgba(208, 208, 208, 0.251);
    margin: 0 1rem 0 1rem;
}

.stepsTextField:hover {
    border: 0.01rem solid #9989d3;
}


.radioButtonsTitle {
    font-size: 0.7rem !important;
    color: $textfield-text-color !important;
    font-family: Montserrat !important;
    padding-left: 1.8rem !important;
    padding-bottom: 0.3rem !important;
}

.radioButtons {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-around !important;
    align-items: center !important;
    margin-left: 0.8rem !important;
    width: 90% !important;
    height: 3rem !important;
    border-radius: 0.2rem;
    background-color: $apply-steps-textfield-background !important;
}

.radioButtonText {
    font-size: 0.75rem !important;
    font-family: Montserrat !important;
    color: $textfield-text-color !important;
}

.radioButtonsDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0.3rem;
    background-color: white !important;
    height: 78%;
}

.titleVector {
    filter: invert(39%) sepia(79%) saturate(687%) hue-rotate(200deg) brightness(89%) contrast(95%);
}